<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyd.myBatis.mapper.CustomerMapper">
    <!--根据id查询客户信息 -->
    <select id="findCustomerById" parameterType="Integer"
            resultType="zyd.myBatis.po.Customer">
        select *
        from t_customer
        where id = #{id}
    </select>

    <!--添加客户信息 -->
    <insert id="addCustomer" parameterType="zyd.myBatis.po.Customer">
        insert into t_customer(username, jobs, phone)
        values (#{username}, #{jobs}, #{phone})
    </insert>
    <select id="findAllCustomer" resultType="zyd.myBatis.po.Customer">
        select *
        from t_customer
    </select>
    <update id="updatePhoneById" parameterType="zyd.myBatis.po.Customer">
        update t_customer
        set phone= #{phone}
        where id = #{id}
    </update>
</mapper>
